<div class="flex justify-between items-center mb-3">

    <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="products()?.count"
    [pageSize]="products()?.pageSize"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="shopParams.pageNumber - 1"
    aria-label="Select page"
    >

    </mat-paginator>

    <form #serachFrom="ngForm"
    (ngSubmit)="onSearchChange()"
    class="w-full max-w-md flex items-center"
    >

    <div class="border border-gray-300 w-full rounded-lg flex justify-between mr-4">
    <input type="search"
    class="outline-0 rounded-lg p-4 text-gray-900 block w-full"
    placeholder="Search"
    name="search"
    [(ngModel)]="shopParams.search"
    />

    <button mat-icon-button type="submit"
    class="flex items-center top-2 right-2"
    >
    <mat-icon>search</mat-icon>
    </button>
    </div>

    </form>

    <div class="flex gap-3">
    <button class="match-input-height" mat-stroked-button (click)="openFilterDialog()">
        <mat-icon>filter_list</mat-icon>
        Filters
    </button>
    <button mat-stroked-button [matMenuTriggerFor]="sortMenu">
        <mat-icon>swap_vert</mat-icon>
        sort
    </button>
    </div>

</div>


<div class="grid grid-cols-5 gap-4">
     @for (product of products()?.data; track product.id) {
        <app-product-item [product]="product"></app-product-item>
    }
</div>

<mat-menu #sortMenu="matMenu">
    <mat-selection-list [multiple]="false" (selectionChange)="onSortChange($event)">
        @for (option of sortOptions; track $index) {
        <mat-list-option [value]="option.value" [selected]="shopParams.sort === option.value">{{option.name}}</mat-list-option>
        }
    </mat-selection-list>
</mat-menu>



